/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color:black;
}
/* hero background image */
.bgimage {
    height:100vh;
    background: url('https://media-exp1.licdn.com/dms/image/C5616AQEML2cipnsFIA/profile-displaybackgroundimage-shrink_350_1400/0/1650649989004?e=1669248000&v=beta&t=R9s2fPP5gMEnR1O2DsFuTn885Dns65FZWem5JuDhn7M');
    background-size:cover;
    position:relative;
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
	text-shadow: 2px 2px 4px #000000;
}
/* spacing on all sections */
/* #about, #services, #portfolio, #contact {
    margin-top: 4rem;
    padding-top: 4rem;
} */
#contact {
    padding-bottom: 4rem;
}
/* about section image css */
.imageAboutPage {
    width: 100%;
	border-radius: 100px;
}

/* services section css */
.servicesText.card {
    height: 280px;
    cursor: pointer;	
	
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #008000;
}
.servicesText:hover {
    border: 1px solid #008000;
}

/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-whatsapp:hover {
    color: #008000;
}
.fab {
    color: #000000;
}
/* footer styling */
#footer {
    background-color: #808080;
    text-align: center;
}